In [1]:
import pandas as pd

In [2]:
path = '/home/edvin/Desktop/flib/AMLsim/outputs/100K_accts/tx_log.csv'
df_raw = pd.read_csv(path)

In [3]:
df_raw.head()

,step,type,amount,nameOrig,bankOrig,daysInBankOrig,phoneChangesOrig,oldbalanceOrig,newbalanceOrig,nameDest,bankDest,daysInBankDest,phoneChangesDest,oldbalanceDest,newbalanceDest,isSAR,alertID,modelType
0,0,INITALBALANCE,77076.82,-2,source,0,0,0.0,0.0,0,swedbank,0,0,77076.82,154153.65,0,-1,11
1,0,INITALBALANCE,45726.26,-2,source,0,0,0.0,0.0,1,swedbank,0,0,45726.26,91452.53,0,-1,11
2,0,INITALBALANCE,81113.28,-2,source,0,0,0.0,0.0,2,swedbank,0,0,81113.28,162226.56,0,-1,11
3,0,INITALBALANCE,60642.42,-2,source,0,0,0.0,0.0,3,swedbank,0,0,60642.42,121284.85,0,-1,11
4,0,INITALBALANCE,74535.60,-2,source,0,0,0.0,0.0,4,swedbank,0,0,74535.60,149071.21,0,-1,11

In [4]:
df = df_raw[(df_raw['bankOrig']!='source') & (df_raw['bankDest']!='sink')]

In [5]:
banks = ['others', 'swedbank', 'handelsbanken']
for bank in banks:
    df_bank = df[(df['bankOrig']==bank) | (df['bankDest']==bank)]
    print(f'n txs within/to/from {bank}: {len(df_bank)}')
    n_sar = len(df_bank[df_bank['isSAR']==1])
    print(f'  n sar txs: {n_sar}')
    n_non_sar = len(df_bank[df_bank['isSAR']==0])
    print(f'  n non-sar txs: {n_non_sar}')
    print(f'  ratio sar/non-sar: {n_sar/n_non_sar}')

n txs within/to/from swedbank: 716387
  n sar txs: 0
  n non-sar txs: 716387
  ratio sar/non-sar: 0.0
n txs within/to/from handelsbanken: 306797
  n sar txs: 0
  n non-sar txs: 306797
  ratio sar/non-sar: 0.0